.tw-card {
  display: flex;
  flex-direction: column;
}

.tw-card h3 {
  text-align:left;
}

.tw-profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tw-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%
}

.tw-group-name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align:left;
}

.tw-group-name span {
  font-weight:lighter;
}

.btn-follow {
  padding: 0.5rem 1.4rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: .9em;
  cursor: pointer;
}

.tw-follow-text {
  display: block;
}

.btn-follow:hover {
  background-color: #bbb;
  transition: .3s ease-out;
}

.btn-follow.is-following{
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 160px;
}
.btn-follow.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease-out;
}


.btn-follow.is-following:hover .tw-follow-text {
  display: none;
}

.btn-follow.is-following:hover .stopFollowing{
  display: block;
}

.stopFollowing {
  display: none;
}

.random-card {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #16181C;
}

.btn {
  border: none;
  width: 140px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.random-btn-groug {
  display: flex;
  gap: 0.5rem
}
